@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');

.App  {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #0B0A07;
  /* background-color: rgb(100, 5, 5); */
  height: 150px;
  padding: 20px;
  /* color: white; */
}

.App-title {
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
  color: #61DAFB;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.squares {
  border: 1px solid black;
  width: 5em;
  background:darkgray;
  margin: 1px;
}

.square_container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 5em;
}

.intro {
  background-color: #61DAFB;
}

.squares:hover {
  background-image: url(./images/blueSmiley.png);
  /* background-image: url(./images/com.grassypastures.icosmiley.png); */
  /* background-image: url(./images/smileyface.jpeg); */
  background: dodgerblue;
  background-size: 100%
}

.intro_game {
  display: flex;
  flex-direction: column;
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 20px;
}

.game_difficulty_option {
  margin-top: 1em;
  margin-bottom: 1em;
}
